* {
  padding: 0;
  margin: 0;
}

body {
  background-color: aliceblue;
}
nav {
  display: flex;
  justify-content: space-between;
}
nav img {
  margin-left: 80px;
  margin-top: 25px;
}
nav ul {
  display: flex;
  margin-right: 100px;
  margin-top: 35px;
  gap: 50px;
}
nav ul li:nth-child(1) {
  color: #20bc7e;
}
nav ul li {
  font-weight: bold;
  text-transform: capitalize;
  list-style: none;
  font-family: "Poppins", sans-serif;
}
.left {
  margin-left: 80px;
  margin-top: 50px;
}
.left .heading h1 {
  font-size: 60px;
  width: 50%;
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
}
.paragraph p {
  color: grey;
  font-size: 18px;
  width: 55%;
  font-family: "Poppins", sans-serif;
  margin-top: 20px;
}
.angle-img img {
  margin-top: 25px;
  margin-left: 39rem;
}
.mouse img {
  margin-left: 42rem;
}
.button {
  position: absolute;
  top: 80vh;
}
.button button {
  background-color: #20bc7e;
  padding: 15px 35px;
  color: #fff;
  font-size: 20px;
  border-radius: 30px;
  border-style: none;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.scope img {
  width: 40%;
  height: 85%;
  position: absolute;
  left: 52vh;
  bottom: 0;
}
.container {
  display: flex;
}
.container .green .img-2 {
  width: 30%;
  position: absolute;
  left: 156vh;
  top: 30vh;
}
.container .orange .img-3 {
  width: 27%;
  position: absolute;
  left: 165vh;
  top: 35vh;
}
.container .doctor .img-4 {
  width: 28%;
  position: absolute;
  left: 155vh;
  bottom: 0vh;
}
